@import "partial/reset";
@import "partial/lib";
@import "partial/variable";
@import "partial/common";

.banner-con{
    height: $h-banner;
    padding-top: $h-nav;
    background: url("../img/bg2.jpg") no-repeat bottom center;
    background-size: cover;
}

.comment-item{
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
