@import "partial/reset";
@import "partial/lib";
@import "partial/variable";
@import "partial/common";

.bg-con {
    height: $h-bg;
    min-height: $h-min-bg;
    padding-top: $h-nav;
    background: url("../img/bg1.jpg") no-repeat bottom center;
    background-size: cover;
}

.blog-circle-name {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #fff;
    background: url('../img/logo.png') no-repeat center center;
}
