@import "partial/reset";
@import "partial/lib";
@import "partial/variable";
@import "partial/common";

body {
    position: relative;
    background-color: $clr-bg;
}

.bg-con {
    height: $h-bg;
    min-height: $h-min-bg;
    padding-top: $h-nav;
    background: url("../img/bg1.jpg") no-repeat bottom center;
    background-size: cover;
}

.v1-nav-link{
    color: inherit;
    &:link,&:visited,&:hover,&:active{
        color: inherit;
    }
}

.v1-nav {
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-color: rgba(255,255,255,.06);
    position: absolute;
    border-bottom: 1px solid rgba(255,255,255,.1);
    &.v1-nav-fixed{
        background-color: #fff;
        position: fixed;
        color: $clr-base-brown;
        z-index: 100;
        box-shadow: 0 1px 3px rgba(0,0,0,0.08);
        .v1-nav-logo{
            background-image: url('../img/nav-logo-br.png');
        }
    }
}

.v1-nav-inner{
    height: $h-nav;
    line-height: $h-nav;
}

.v1-nav-logo{
    width: 188px;
    background: url('../img/nav-logo-wh.png') no-repeat center center;
}

.blog-circle-name {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #fff;
    background: url('../img/logo.png') no-repeat center center;
}

.break {
    height: $h-break;
    color: $clr-break;
    background: url('../img/break.svg') no-repeat center center;
    background-size: 64px 64px;
}
