@import "partial/reset";
@import "partial/lib";
@import "partial/variable";

body {
    position: relative;
    background-color: $clr-bg;
}

.bg-con {
    height: $h-bg;
    min-height: $h-min-bg;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, .2)),
    url("../img/bg1.jpg") no-repeat bottom center;
    background-size: cover;
}

.blog-circle-name{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #fff;
    background: url('../img/logo.png') no-repeat center center;
}

.break{
    height: $h-break;
    color: $clr-break;
    background: url('../img/break.svg') no-repeat center center;
    background-size: 64px 64px;
}
