extends ../layout

block content
    h2.page-header 分类列表

    ul
    each item in categories
        li= item.name
            i.fa.fa-times-circle(onclick='category.show(\''+item._id+'\')')

block js
    script(src='/js/admin/category.js')
