extends ../layout

block content
    .panel.panel-primary
        .panel-heading
            h3.panel-title 分类列表
        .panel-body
            ul.list-unstyled
                each item in categories
                    li.category-item(title= item.slug)= item.name
                        span.category-ctrl
                            a(href="/admin/categories/edit/"+item._id)
                                i.fa.fa-pencil
                            a(href="/admin/categories/delete/"+item._id)
                                i.fa.fa-times-circle

block js
    script(src='/js/admin/category.js')
