extends ../layout

append css
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/js/highlight/styles/default.css')
    link(rel='stylesheet', href='/css/index.css')

block main
    .bg-con.rel
        nav.v1-nav.v1-nav-tran
            .container.v1-nav-inner
                a.v1-nav-link.dib.h100pct.v1-nav-logo.f20(href="/")
                .dib.r.f16
                    a.v1-nav-link.mr30(href="/") 首页
                    a.v1-nav-link.mr30.pl20(href="/posts") 文章
                    a.v1-nav-link.pl20(href="/about") 关于
        .blog-circle-name.auto.tran_vm.rel
    .container.mt20
        .row
            .col-sm-8.mt10.pb30
                each post, index in posts
                    article.v1-cube.mb10.pt10.pb10.pl30.pr30
                        h3.g6
                            = post.title
                        .g9
                            span.mr5
                                =post.author.name
                            span.mr5 写于
                            span.mr30
                                =moment(post.created).format('YYYY/MM/DD')
                            span.mr15
                                i.fa.fa-heart.mr5(aria-hidden=true)
                                =post.meta.favorite || 0
                            span.mr15
                                i.fa.fa-commenting.mr5(aria-hidden=true)
                                =post.comments.length || 0
                            span
                                i.fa.fa-tag.mr5(aria-hidden=true)
                                =post.category.name
                        p.mt20
                            != trimHtml(post.content,{limit: index === 0 ? 700 :160 }).html
                        a.dib(href="/posts/view/" + post.slug, target="_blank", title="查看全文") 查看全文
                        .break
                .v1-cube.p10.tc
                    a(href="/posts",title="查看更多") 查看更多
            .col-sm-3.mt10
                .v1-cube.p10
                    h4 分类列表
                    ol.list-unstyled.pl20.pr20
                        each category in categories
                            li.lh24
                                a(href="/posts/category/" + category.name, title="文章分类：" + category.name)
                                    = category.name
block scripts
    script(src='/js/blog/index.js')
    script(src="/js/highlight/highlight.pack.js")
    script $(document).ready(function () {hljs.initHighlightingOnLoad();});
