extends ../layout

append css
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/js/highlight/styles/default.css')
    link(rel='stylesheet', href='/css/blog.css')

block main
    .banner-con.rel
        nav.v1-nav.v1-nav-tran
            .container.v1-nav-inner
                a.v1-nav-link.dib.h100pct.v1-nav-logo.f20(href="/")
                .dib.r.f16
                    a.v1-nav-link.mr30(href="/") 首页
                    a.v1-nav-link.mr30.pl20(href="/posts") 文章
                    a.v1-nav-link.pl20(href="/about") 关于
    block content

block scripts
    script(src="/js/highlight/highlight.pack.js")
    script $(document).ready(function () {hljs.initHighlightingOnLoad();});
