extends ../layout

append css
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/css/test.css')

block main
    .bg-con.rel
        .blog-circle-name.auto.tran_vm.rel
    .container
        .row
            .col-sm-8 我的文章
                .break
            .col-sm-3.col-sm-offset-1 文章分类
block scripts
    script(src='/js/blog/index.js')
